
.form{
    position: relative;
}

.btn {
    position: absolute;
    right: 0;
    bottom: -30px;
}

.general {
    position: relative;
}

.lang {
    position: absolute;
    right: 0;
}

@media (max-width: 800px) {
    .lang {
    position: inherit;
    margin: auto;
    min-width: 160px;
}
}

.addinfo {
    position: relative;
}

.about-me {
    position: absolute;
    right: 0;
}

@media (max-width: 628px) {
    .addinfo {
        display: block;
        position:inherit;
    }

    .about-me {
        position: relative;
        margin: auto;
    }
}
